*.iml
*.log
*.dex
*.apk
*.aar
*.ap_
*.aab
*.class
.gradle
/local.properties
.idea
/.idea/caches
.idea/caches
/.idea/libraries
.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/bin
/gen
/out
/captures
.externalNativeBuild
.cxx
local.properties
